.button {
    flex: 0 1 47%;
    background-color: mediumpurple;
    border: none;
    outline: none;
    margin-bottom: 1.5rem;
    padding: 1rem 0.3rem;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px 10px 6px rgba(0, 0, 0, 0.35);
}

.animated {
    animation: out .5s ease-in-out;
}

.correct {
    background-color: #56f55b;
}

.wrong {
    background-color: #ea6a6a;
}

@keyframes out {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}